{% extends 'dream_app/base.html' %} {% block body %} {% load staticfiles %}
<style>
    .sexy-line {
        /* margin: 25px 0; */
        height: 2px;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(225, 225, 225, 0.1)), to(rgba(225, 225, 225, 0.1)), color-stop(50%, white));
        width: 100%;
        display: block;
        margin-top: 30px
        /* float: right; */
    }

    body {
        background-image: url(/static/dream_app/images/12213.jpg);
        background-size: cover;
        background-position: center;
    }
</style>

<div class="container-fluid" style="font-family: Open sans;">
    <div class="row">
        <div style="padding: 30px;" class="col-sm-12">
            <h1 style="text-align: center; color:#2974B2 ">About the <span style="color: rgb(12, 12, 112)" class="dreams-font">Harlem Dreams</span></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img  id="topball" src="{% static 'dream_app/images/dream-ball.png' %}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="container-fluid about-contain">
            <div class="row ">
                <!-- <img  style="filter:opacity()" width="100%"" height="500px" src=" {% static 'dream_app/images/team_shot.png' %}" alt=""> -->
                <div class="col-sm-12 left-col" style="padding: 0px 50px 0px 50px">
                    The Harlem Dreams are led by Entrepreneur Ray K. Morris and Funnyman, showman Harold “Lefty” Williams. We’re an exhibition
                    show basketball team that tours all over the world. Every show includes incredible athleticism, entertainment
                    and comedy.

                    <br>
                    <br>

                    <h4>Harlem Dreams Mission</h4>
                    <ul style="list-style-type:square">
                        <li>Promote professional achievement, entertainment, comedy, strong leadership capability, self-discipline,
                            teamwork and excellence in athletic performance.</li>
                        <li>Provide the entire audiences with a source of community pride.</li>
                        <li>Generate positive visibility in the public media and use this visibility to communicate the Harlem
                            Dreams’ vision, mission and values.</li>
                    </ul>


                </div>
                <div class="row" style="padding: 0px 100px 0px 100px;">
                    <div class="col-sm-12 goals center-block text-center">
                        <ul style="list-style-type:square">
                            <p>Goal I: To comply with both the spirit and the law of all lands guidelines.</p>
                            <p>Goal II: To enhance values in the total development of our professional staff through athletic
                                achievement,engagement in the life of the communities and leadership development.</p>
                            <p> Goal III: To set high standards for professionals.</p>
                            <p>Goal IV: To enhance the visibility of the Harlem Dream through our professional character.</p>
                            <p>Goal V: To serve as a bonding force in cities and countries.</p>
                            <p>Goal VI: To implement a plan to achieve our goal of global success.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- second section -->

            <div class="row">
                <div class="col-sm-12 left-col" style="padding: 0px 50px 0px 50px">


                    <h4>Unquestionable Integrity</h4>
                    <ul style="list-style-type:square">
                        <li> As a professional show basketball organization, our primary goals are the positive mentality
                            and professional development of our basketball organization. These commitments will be consistently
                            measured by our exceptional administration of our players and rules compliance by our staff.</li>
                    </ul>

                    <br>
                    <br>
                </div>

                <div class="col-sm-12 left-col" style="padding: 0px 50px 0px 50px">


                    <h4>Service Minded</h4>
                    <ul style="list-style-type:square">
                        <li>As a professional exhibition basketball organization, we support and foster the development of
                            people devoted to the pursuit of a common good that transcends the interests of particular individuals
                            or groups.
                        </li>
                    </ul>

                    <br>
                    <br>
                </div>
                <div class="col-sm-12 left-col" style="padding: 0px 50px 0px 50px">


                    <h4>Focused on Dreaming</h4>
                    <ul style="list-style-type:square">
                        <li> As an exhibition basketball organization and a major source of pride, people and dreamers; dreaming
                            is the key component. Everyone that is part of our family, our team will strive to win.</li>
                    </ul>


                </div>




                <div class="row" style="padding: 0px 100px 0px 100px;">
                    <div class="col-sm-12 goals center-block text-center">
                        <ul style="list-style-type:square">
                            <p>Goal I: To set high standards on winning spirits.</p>
                            <p>Goal II: To enhance the visibility of show basketball through sports, entertainment and comedy.</p>
                            <p>Goal III: To develop and implement a plan to provide the necessary support to achieve the
                                established goals.
                            </p>

                        </ul>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="col-sm-12 left-col" style="padding: 0px 50px 0px 50px">


                    <h4>Determined to be Involved</h4>
                    <ul style="list-style-type:square">
                        <li>The Harlem Dreams will play an integral part throughout greater parts of the United States, and
                            Canadian communities and abroad. Athletic opportunities are vehicles to heighten personal development.
                            When complemented with intense community involvement, we believe that the benefits of the Harlem
                            Dreams participation will be available to as many residents and friends as possible.</li>
                    </ul>


                </div>


                <div class="row" style="padding: 0px 100px 0px 100px;">
                    <div class="col-sm-12 goals center-block text-center">
                        <ul style="list-style-type:square">
                            <p>Goal I: To increase the number of supporters and spectators actively engaged in our organization.
                            </p>
                            <p>Goal II: To support and promote opportunities for diverse entertainment operations and staff
                                within the cities and countries.

                            </p>
                            <p>Goal III: To support and promote family entertainment for youth and their parents leading
                                to opportunities in professional sports and life.</p>

                        </ul>
                        <div class="sexy-line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img class="#" src="{% static 'dream_app/images/logo2.png' %}" style="z-index: -1 ; display: block; margin-left: auto; margin-right: auto; margin-top: 40px"
                        width="40px" alt="">
                </div>
            </div>
        </div>







        <!-- <div id="harlem-group3" class="col-sm-5 side-about d-none d-md-block ps-top-to-bottom" style="">
            <img class="center-block " id="harlem-group2" src="{% static 'dream_app/images/harlem-group1.jpg' %}" alt="">
        </div> -->
    </div>
</div>
{% endblock%}






<!-- <div class="row ">
        <div class="about-content">
            <div class="col-sm-12 about">
                <h1>ABOUT THE DREAM'S</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">

                <img class="center-block" id="harlem-group2" style="text-align: center; width:70%;" src="{% static 'dream_app/images/harlem-group1.jpg' %}"
                    alt="">
                <P class="about-txt"> "Harlem Dreams" are an exhibition show basketball team that tours all over the world. Every show includes
                    incredible athleticism, entertainment & comedy.
                </P>
            </div>
        </div>
    </div> -->