{% extends 'dream_app/base.html' %} {% block body %} {% load staticfiles %}


<div class="container">
    <div class="row ">
        <div class="about-content">
            <div class="col-sm-12 about">
                <h1>ABOUT THE DREAMS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 ">

                <img class="center-block" id="harlem-group2" style="text-align: center; width:70%;" src="{% static 'dream_app/images/harlem-group1.jpg' %}"
                    alt="">
                <P class="about-txt"> "Harlem Dreams" are an exhibition show basketball team that tours all over the world. Every show includes
                    incredible athleticism, entertainment & comedy.
                </P>
            </div>
        </div>
    </div>
</div>
{% endblock%}