<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harlem Dreams</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/dream_app/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/dream_app/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/dream_app/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/dream_app/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/dream_app/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/dream_app/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/dream_app/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/dream_app/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/dream_app/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/dream_app/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/dream_app/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/dream_app/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/dream_app/imagesfavicon-16x16.png">
    <link rel="manifest" href="/static/dream_app/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/dream_app/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff"> {% load staticfiles %}

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="{% static '/dream_app/css/style000.css' %} ">
    <link rel="stylesheet" type="text/css" href="{% static 'dream_app/css/slicebox.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dream_app/css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'dream_app/css/responsive.css' %}" />

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'dream_app/css/demo.css' %}" /> -->

    <script type="text/javascript" src="{% static 'dream_app/javascript/modernizr.custom.46884.js' %}"></script>
    <script type="text/javascript" src="{% static 'dream_app/javascript/jquery.slicebox.js' %}"></script>


</head>

<body>
    <div class="container-fluid ">

        <!-- <div class="row">
        <div class="col-lg-12" id="pre-header">
            <h1>believe in your team, harlem dreams</h1>
        </div>
    </div>

</div> -->



        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg navbar-dark indigo">
                <a href="/">
                    <img src="{% static 'dream_app/images/dLogo_bw.jpg'%}" alt="logo" style="width:50px;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link center" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link center" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link center" href="#">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link center" href="#">Players</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link center" href="#">Shop</a>
                        </li>
                    </ul>

                </div>

        </div>

        {% block body %} {% endblock %}

        <!-- <footer>
        <div class="row">

            <div class="col-lg-4 footer-links center-block d-none d-sm-block">
                <table>
                    <tr>
                        <th>
                            <h1 class="text-center">Fan Club</h1>
                        </th>
                        <th>
                            <h1 class="text-center">Say Hello!</h1>
                        </th>
                        <th>
                            <h1 class="text-center">Got Talent!</h1>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>dreamer@harlemdreams.com</p>
                        </td>

                        <td class="text-center">
                            <p>497 Evergreen Rd. Roseville, CA 95673</p>
                        </td>
                        <td>
                            <p>We are always looking for talent contact@harlemdreams.com
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-4 footer-links text-center">
                <img id="footer-logo" class="center-block" src="{% static 'dream_app/images/main_logo.png' %}" style alt="Harlem Dreams Logo">
                <br>
                <small>Powered by Six Eleven Web Design</small>
            </div>
            <div class="col-sm-4 footer-links social-links-f d-none d-sm-block d-lg-block d-m-block" style="padding: 80px;">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/pages/The-Harlem-Dreams/372423599580246">
                            <img src="{% static 'dream_app/images/facebook-f.png' %}" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/theharlemdreams">
                            <img src="{% static 'dream_app/images/instagram-f.png' %}" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/theharlemdreams">
                            <img src="{% static 'dream_app/images/twitter-f.png' %}" alt="https://twitter.com/theharlemdreams"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer> -->

        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h2 class="logo">
                            <a href="#">
                                <img id="footer-logo" class="center-block" src="{% static 'dream_app/images/main_logo.png' %}" style alt="Harlem Dreams Logo">
                            </a>
                        </h2>
                    </div>
                    <div class="col-sm-2">
                        <h5>Get started</h5>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Newsletter</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>About us</h5>
                        <ul>
                            <li>
                                <a href="#">Company Information</a>
                            </li>
                            <li>
                                <a href="#">Contact us</a>
                            </li>
                            <li>
                                <a href="#">Careers</a>
                            </li>
                            <!-- <li><a href="#">Reviews</a></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-2">
                        <h5>Support</h5>
                        <ul>
                            <!-- <li><a href="#">FAQ</a></li> -->
                            <li>
                                <a href="#">Help</a>
                            </li>
                            <!-- <li><a href="#">Forums</a></li> -->
                        </ul>
                    </div>
                    <div class="col-sm-3 footer-links social-links-f ">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/pages/The-Harlem-Dreams/372423599580246">
                                    <img class="logo-s" src="{% static 'dream_app/images/facebook.png' %}" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="http://instagram.com/theharlemdreams">
                                    <img class="logo-s" src="{% static 'dream_app/images/instagram.png' %}" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/theharlemdreams">
                                    <img class="logo-s" src="{% static 'dream_app/images/twitter.png' %}" alt="https://twitter.com/theharlemdreams" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <div class="container-fluid"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="display:inline">© 2018 Harlem Dreams </p>

                        <a href="http://www.brysonmckenzie.com">
                            <p class="center" style="display:inline;text-align: center; color: black;">Six Eleven Web Design&#169;</p>
                        </a>


                    </div>

                </div>
        </footer>
</body>

</html>