{% extends 'dream_app/base.html'%}{% block body %}{% load staticfiles %}
<style>
    body {
        height: 100%;
        width: 100%;
        background-image: url(/static/dream_app/images/full_court.jpg);
        background-size: cover
    }
</style>
<div class="container">
    <div class="row ">

        <div class="col-sm-12 text-center"
            style="color:#214F74; font-family: Luckiest Guy, cursive; margin-top: 30px; margin-bottom: 30px;"><span
                style="font-size:35pt; color: white" class="dreams-font">The Harlem Dreams</span>
            <h1>Coming to a city Near you</h1>
        </div>
    </div>
    {% if events|length != 0 %} {% for e in events %}
    <div class="row">
        <div class="event-box">
            <div class="container">
                <div class="row" style="height:400px">
                    <div class="col-sm-6">
                        <div class="event-text">
                            <table class="table" style="color: white">
                                <h3 class="text-center" style="padding: 2rem 0 0 0; color: white;">Harlem Dreams VS.
                                    {{e.opponent}}
                                </h3>
                                <tbody>
                                    <tr>
                                        <td>Location:</td>
                                        <td>{{e.location}}</td>
                                    </tr>
                                    <tr>
                                        <td>Date:</td>
                                        <td>{{e.date}}</td>
                                    </tr>
                                    <tr>
                                        <td>Time:</td>
                                        <td>{{e.time}}</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>{{e.address}}<br>
                                            {{e.city}}, {{e.state}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <p class="text-center">{{e.description}}</!-->
                        </div>
                    </div>
                    <div class="col-sm-6" style="max-height: 400px;">
                        <div class="img-container">
                       
                            
                            <img class="img-fluid  v-center" style="width: 50%; height: 50%;" src="{{ e.image.urls }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}{% else %}
    <div class="container-fluid" style="font-family: 'Krona One', sans-serif; font-size: 16pt; color: #000;"
        id="no-event">
        {{no_event}}</div>
    {% endif %}
</div>
<!-- <script language="javascript">
    function autoResizeDiv() {
        document.getElementById('no-event').style.height = window.innerHeight + 'px';
    }
    window.onresize = autoResizeDiv;
    autoResizeDiv();
</script> -->
<style type="text/css">
    body {
        height: 100%;
        width: 100%;
        /* overflow: hidden; */
    }

    #no-event {
        height: 700px;
        padding: 50px;
        font-family: 'Krona One', sans-serif;
        background-color: rgba(255, 255, 255, 0.3);
        position: relative;
        display: block;

    }

    #no-event::after {
        content: '';
        background-image: url(/static/dream_app/images/logo2.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }
</style>
{% endblock %}