{% extends 'dream_app/base.html'%}{% block body %}{% load staticfiles %}
<style>
    body {
        background-image: url(/static/dream_app/images/12213.jpg);
        background-size: cover;
        background-position: center;
    }
    footer {
        bottom: 0px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background: rgba(0,0,0,0.5)">
            <h1 style=" margin-top: 2rem; text-align: center; font-family: 'Luckiest Guy', cursive; color: darkblue; ">Founders of the <span class="dreams-font">Harlem Dreams</span></h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 founder">
            <img class="founder-pic" src="{%static 'dream_app/images/rayk.png'%}" alt="">
            <h4>Ray K . Morris</h4>
            <p>
                Ray K. Morris, Co-Founder/Chairman a native of East Chicago, is an Entrepreneur, Producer, Philanthropist, Investor Mentor,
                Sports franchise owner with an extensive background in entertainment. As Chairman of Mathis & Morris Productions,
                their produced films have been seen on all platforms worldwide from Television, Film, Video On Demand and
                DVD. He began his career as a law clerk in a large corporate law firm over twenty eight years ago in Los
                Angeles. This position afforded him invaluable exposure to the inner workings and mechanics of the business
                of the entertainment film business, as he dealt with everything from studios to actors themselves. Mr. Morris
                is former CEO of Sirrom Entertainment, a Los Angeles based Television/Film Production & Management Company,
                still mentoring, managing artist and professional athletes throughout the world; mainly basketball players
                from the NBA and over forty other countries. He is a former four sport athlete. Ray has worked with the nonprofit
                organization Colors United, which teaches performing arts to inner-city youths. The documentary Colors Straight
                Up, which chronicled the work of the organization, was nominated in 1998 for an Oscar®, a Directors Guild
                of America (DGA) Award, and an Independent Spirit Award. The film won at the New York Film Festival, the
                San Francisco International Film Festival and received the National Educational Media Network USA Award,
                CINE Competition Golden Eagle award. He produced the short film, The Three Man March. The film received rave
                reviews at The Hampton's International Film Festival, The Sarasota Film Festival, Hollywood Black Film Festival,
                The Director's View Film Festival, The Pan-African Film Festival, The African Diaspora Film and Video Festival,
                First Glance Film and Video Festival, The Jamerican Film Festival, Harlem Film Festival and Chicago Film
                Festival. Mr. Morris also served as a board member of the Watts Village Theater Company, W.V.T.C., which
                produces live theater throughout the Los Angeles area; its production The Last Outpost was a NAACP award
                nominee. Harlem Dreams Showman Funnyman , Harold “Lefty” Williams, Co-Founder/President anative of Jersey
                City, New Jersey Harold “Lefty” Williams, a former showman had one of his most defining moments when he was
                asked to join the World Famous Harlem Globetrotters! He made Globetrotter history by becoming the first left
                handed showman to sign with the team. After his departure from the Globetrotters, ESPN, the world’s largest
                sports network, called his trade “from the losingest team of all time to the winningest team of all time...
                a deal straight out of Ripley’s Believe it or Not” The article by Tom Friend, gave the world a glimpse of
                the story about the man that is Harold “Lefty” Williams. A former College basketball two time defensive player
                of the year, travels the country exhibiting and teaching outstanding ball handling trick techniques and various
                ball handling drills. He has traveled to over 30 countries around the world as a professional basketball
                player, as well as a showman. Lefty is a Celebrity Ambassador for the Dave Thomas Foundation for Adoption.
                He also partnered with Mazu, a digital social media platform based on core values and family-friend content.
                The pair have created the Dare 2 Dream App, that is family- friendly, positive and appropriate for kids.
                Lefty is the Founder of the Dare 2 Dream foundation. The Dare 2 Dream foundation is about equipping the youth
                with the tools necessary to not only hold onto their dreams, but to actively move forward in reaching them.
                Dare 2 Dream helps in creating a stronger body of youth who will carry on as our future leaders! Lefty wants
                the youth to know that his ceiling of achievements as a professional basketball player will be the floor
                on which they will stand in plat forming their own achievements. Many of the topics on which are touched
                include: substance and alcohol abuse, child abuse, HIV/AIDS, abstinence, setting and achieving goals, peer
                education and mentorship, higher education, and healthy lifestyles among many other topics, the focus as
                he speaks to the youth is to bring into focus the keys to overcoming challenges that are relevant in their
                lives.
                <img class="#" src="{% static 'dream_app/images/logo2.png' %}" style="z-index: -1 ; display: block; margin-left: auto; margin-right: auto; margin-top: 40px"
                width="40px" alt="">

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 founder">
            <img class="founder-pic" src="{%static 'dream_app/images/left_founder.png'%}" alt="">
            <h4>Harold "Lefty" Williams</h4>
            <p>
                Harlem Dreams Showman Funnyman , Harold “Lefty” Williams, Co-Founder/President anative of Jersey City, New Jersey Harold
                “Lefty” Williams, a former showman had one of his most defining moments when he was asked to join the World
                Famous Harlem Globetrotters! He made Globetrotter history by becoming the first left handed showman to sign
                with the team. After his departure from the Globetrotters, ESPN, the world’s largest sports network, called
                his trade “from the losingest team of all time to the winningest team of all time... a deal straight out
                of Ripley’s Believe it or Not” The article by Tom Friend, gave the world a glimpse of the story about the
                man that is Harold “Lefty” Williams. A former College basketball two time defensive player of the year, travels
                the country exhibiting and teaching outstanding ball handling trick techniques and various ball handling
                drills. He has traveled to over 30 countries around the world as a professional basketball player, as well
                as a showman. Lefty is a Celebrity Ambassador for the Dave Thomas Foundation for Adoption. He also partnered
                with Mazu, a digital social media platform based on core values and family-friend content. The pair have
                created the Dare 2 Dream App, that is family- friendly, positive and appropriate for kids. Lefty is the Founder
                of the Dare 2 Dream foundation. The Dare 2 Dream foundation is about equipping the youth with the tools necessary
                to not only hold onto their dreams, but to actively move forward in reaching them. Dare 2 Dream helps in
                creating a stronger body of youth who will carry on as our future leaders! Lefty wants the youth to know
                that his ceiling of achievements as a professional basketball player will be the floor on which they will
                stand in plat forming their own achievements. Many of the topics on which are touched include: substance
                and alcohol abuse, child abuse, HIV/AIDS, abstinence, setting and achieving goals, peer education and mentorship,
                higher education, and healthy lifestyles among many other topics, the focus as he speaks to the youth is
                to bring into focus the keys to overcoming challenges that are relevant in their lives.
                <img class="#" src="{% static 'dream_app/images/logo2.png' %}" style="z-index: -1 ; display: block; margin-left: auto; margin-right: auto; margin-top: 40px"
                width="40px" alt="">

            </p>
        </div>
  
    </div>



</div>

{% endblock %}