{% extends 'dream_app/base.html' %}{% block body %}{% load staticfiles %}
<style>
    .shop-cs{

    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-12 shop">
            <div class="row">
                <div class="col-sm-12">
                    <h2 style="text-align: center; font-size:35pt">Shop</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h1 style="color: white;margin-top: 20px;" >Coming Soon!</h1>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-12">
                    <img class="shop-cs" src="{% static 'dream_app/images/logo2.png' %}" width="200px" alt="">
                </div>
            </div> -->
        </div>
    </div>
</div>
{% endblock%}