{% extends 'dream_app/base.html' %}{% block body %}{% load staticfiles %}


<div class="container overlay ">
    <div class="row ">
        <div class="col-sm-12 sponsor-shop ">
            <div class="row">
                <div class="col-sm-12">
                    <h1 style="text-align: center">Harlem Dreams Sponsors</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 sponsor-border">
                    <a href="https://mazufamily.com/partners/">
                        <img src="{% static 'dream_app/images/mazu.png' %}" width="100%" alt="">
                    </a>
                    <p>Mazu is a trusted leader in building child safe digital spaces. We power positive connections between
                        young fans and their favourite brands by building a custom family friendly apps based on the Mazu
                        platform. We incorporate games, trivia, exclusive content feeds, filtered chatrooms and more.</p>
                </div>
                <!-- <div class="col-sm-4" style="padding: 0px 20px 0px 20px; font-family: 'Krona One',sans-serif; font-size: 10pt; border-right:1px #ffffff solid;">
                    <a href="https://mazufamily.com/partners/">
                        <img src="{% static 'dream_app/images/mazu.png' %}" width="100%" alt="">
                    </a>
                    <p>Mazu is a trusted leader in building child safe digital spaces. We power positive connections between
                        young fans and their favourite brands by building a custom family friendly apps based on the Mazu
                        platform. We incorporate games, trivia, exclusive content feeds, filtered chatrooms and more.</p>
                </div>
                <div class="col-sm-4" style="padding: 0px 20px 0px 20px; font-family: 'Krona One',sans-serif; font-size: 10pt; ">
                    <a href="https://mazufamily.com/partners/">
                        <img src="{% static 'dream_app/images/mazu.png' %}" width="100%" alt="">
                    </a>
                    <p>Mazu is a trusted leader in building child safe digital spaces. We power positive connections between
                        young fans and their favourite brands by building a custom family friendly apps based on the Mazu
                        platform. We incorporate games, trivia, exclusive content feeds, filtered chatrooms and more.</p>
                </div> -->
                <!-- <div class="col-sm-4"></div>
                <div class="col-sm-4"></div> -->
            </div>
            <div class="row">
                <!-- <div class="col-sm-12">
                    <img src="{% static 'dream_app/images/logo2.png' %}" style="z-index: -1 ; display: block; margin-left: auto;margin-right: auto; margin-top: 10px"
                        width="40px" alt="">
                </div> -->
            </div>
            
        </div>
    </div>
 
</div>
{% endblock%}